/* Google Fonts import - from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Orbitron:wght@500&display=swap');

/* general */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
}

/* body */

body {
    background-color: #F9F8FF;
}

/* header */

header {
    font-size: 175%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    color: navy;
}

/* game board */

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: auto;
    padding-top: 10px;
}

/* cards */

img {
    width: 25%;
    padding: 2px;
    border-radius: 10px;
}

/* congratulations message */

#result {
    color: navy;
    padding-top: 10px;
    font-size: 125%;
    text-align: center;
}

/* reset button */

#reset {
    display: flex;
    margin: auto;
    margin-top: 10px;
    font-size: 100%;
    color: #F9F8FF;
    background-color: navy;
    padding: 10px 15px;
    border: 2px #F9F8FF solid;
    border-radius: 10px;
}

#reset:hover {
    color: navy;
    background-color: #F9F8FF;
    border: 2px navy solid;
}

/* footer */

footer {
    text-align: center;
    margin-top: 20px;
    color: navy;
}

footer > h2 {
    text-transform: uppercase;
}