/* Google Fonts import - from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Orbitron:wght@500&display=swap');

/* general */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
}

/* body */

body {
    background-color: #F9F8FF;
}

/* header */

header {
    font-size: 175%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    color: navy;
}

/* stats */

.stats {
    color: navy;
    padding-top: 5px;
    font-size: 125%;
    text-align: center;
}

/* game board */

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: auto;
    padding-top: 10px;
}

/* cards */

img {
    width: 25%;
    padding: 2px;
    border-radius: 10px;
}

/* congratulations message */

#result {
    color: navy;
    padding-top: 10px;
    font-size: 125%;
    text-align: center;
}

/* reset button */

#reset {
    display: flex;
    margin: auto;
    margin-top: 5px;
    font-size: 100%;
    color: #F9F8FF;
    background-color: navy;
    padding: 10px 15px;
    border: 2px #F9F8FF solid;
    border-radius: 10px;
}

#reset:hover {
    color: navy;
    background-color: #F9F8FF;
    border: 2px navy solid;
}

/* footer */

footer {
    text-align: center;
    margin-top: 10px;
    color: navy;
}

footer > h2 {
    text-transform: uppercase;
}

/* 404 page */

.error-message {
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    color: #F9F8FF;
    line-height: 60px;
    background-image: url('../images/back.webp');
    background-repeat: no-repeat;
    width: 475px;
    margin: 100px auto;
    padding-top: 135px;
    padding-bottom: 50px;
}

.error-message>a {
    font-size: 80%;
    background-color: #F9F8FF;
    color: navy;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px navy solid;
    border-radius: 10px;
    line-height: 150px;
}

.error-message>a:hover {
    color: #F9F8FF;
    background-color: navy;
    border: 2px #F9F8FF solid;
}

/* media queries */

/* screen size 700px wide and below */
@media screen and (max-width: 700px) {
    header {
        font-size: 125%;
        width: 80%;
        margin: auto;
        padding-top: 15px;
    }
    
    .grid {
        width: 90%;
    }

    #result {
        font-size: 100%;
    }
    
    #reset {
        font-size: 90%;
        padding: 5px 10px;
    }

    footer {
        font-size: 80%;
        width: 80%;
        margin: auto;
        padding-top: 20px;
    }
}

/* screen size 500px wide and below */
@media screen and (max-width: 500px) {
    header {
        font-size: 100%;
    }
    
    .grid {
        width: 95%;
    }

    #result {
        font-size: 85%;
    }
    
    #reset {
        font-size: 75%;
    }

    .error-message {
        width: 250px;
        font-size: 125%;
        padding-top: 50px;
        padding-bottom: 10px;
    }
}