/* Google Fonts import - from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Orbitron:wght@500&display=swap');

/* general */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* body */

body {
    background-color: #F9F8FF;
}

/* header*/

header {
    font-family: Orbitron, sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
    color: navy;
}

/* game board */

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: auto;
    padding-top: 25px;
}

/* cards */

img {
    width: 25%;
    padding: 2px;
}